<div class="w-full h-screen">
  <main class="w-full h-full">
    <div class="input w-1/3 h-20 bg-gray-200 border border-gray-500 rounded relative">
      <input
        type="text"
        bind:this={theInput}
        bind:value={color}
        placeholder="#d26"
        aria-label="CSS hex value"
        class="w-full mx-auto h-10 text-center text-xl rounded"
        autofocus
      />
      <p class="w-full h-10 text-center text-xl rounded align-center">{rgb}</p>
      <ColorPicker
        components={MyChromeVariant}
        toRight="true"
        label="Use color picker"
        isInput="false"
        on:input={inputChange}
        bind:hex={color}
      />
    </div>
  </main>
  <footer class="absolute w-full bottom-0 p-10">
    <div class="w-1/3 mx-auto">
      <a href="https://gitlab.com/voldemortensen/css-hex-translator">
        <img src="{GitLabPNG}" alt="GitLab.com logo" class="mx-auto w-24" />
      </a>
    </div>
  </footer>
</div>

<style>
  .input {
    top: calc(50% - 2.5rem);
    left: calc(50% - 33.333333% / 2);
  }
</style>

<script>
  import { onMount } from 'svelte';
  import GitLabPNG from './assets/gitlab-logo-600.png';
  import ColorPicker, { ChromeVariant } from 'svelte-awesome-color-picker';
  import TheInput from './Input.svelte';
  const MyChromeVariant = {
    input: TheInput,
    sliderIndicator: ChromeVariant.sliderIndicator,
    pickerIndicator: ChromeVariant.pickerIndicator,
    alphaIndicator: ChromeVariant.alphaIndicator,
    pickerWrapper: ChromeVariant.pickerWrapper,
    sliderWrapper: ChromeVariant.sliderWrapper,
    alphaWrapper: ChromeVariant.alphaWrapper,
    wrapper: ChromeVariant.wrapper
  };

  function inputChange(e) {
    color = e.detail.hex;
  }

  let color = '';
  let rgb = '';

  let theInput;
  let hexRegex = /^#?([a-f0-9]{3,4}|[a-f0-9]{6}|[a-f0-9]{8})$/i;

  $: if (color) {
    let coloredBackground = document.querySelector('.w-full.h-screen');
    if (hexRegex.test(color)) {
      if (!color.startsWith('#')) {
        color = '#' + color;
      }

      coloredBackground.style.background = color;
      rgb = getComputedStyle(coloredBackground).backgroundColor;
    }
  }

  onMount(() => {
    color = '#d26';
    theInput.focus();
    let url = new URL(window.location);
    let params = new URLSearchParams(url.search);
    let paramColor = params.get('color');
    if (paramColor && hexRegex.test(paramColor)) {
      // this shouldn't ever happen because # will end the query portion of the url, but just in case
      if (!paramColor.startsWith('#')) {
        paramColor = '#' + paramColor;
      }
      color = paramColor
    }
  });
</script>
